*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* header{
    background-color: rgba(11, 32, 70, 0.15);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
}
li{
    list-style: none;
}
a{
    color: #287ab9;
    text-decoration: none;
}
.logo{
    width: 150px;
    height: 150px;
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-heading{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color:dodgerblue;
}
.menubar{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}
.present{
    color: #fb8a8a;
} */

/********** navbar ends here *********/

#section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1560px;
    margin: 0px auto;
    margin-top: 100px;
    /* border: 2px solid black; */
    height: auto;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
}

.team_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

/* .card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 370px;
    width: 230px;
    object-fit: cover;
    overflow: hidden;
    margin: 25px 25px;
}

.upper{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.upper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.show{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: black;
    z-index: 0;
}

.show h4{
    margin-bottom: 4px;
}

.show p{
    font-size: 14px;
    color: gray;
}


.lower{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #58D500;
    color: white;
    transform: translateX(-100%);
}

.lower h4{
    margin-bottom: 4px;
}

.lower p{
    font-size: 14px;
}

.low_opacity{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
}

.on_hover{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.on_hover span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 4px 5px;
    opacity: 0;
}

.on_hover span i{
    color: white;
    z-index: 1;
}

.on_hover span:hover{
    cursor: pointer;
    background-color: #59d500b5;
    color: white 100%;
} */





/* ****************************************************************************************************************** */

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    overflow: hidden;
}

.card .upper{
    position: absolute;
    top: -40px;
    background-color: #C5D7E5;
    height: 50%;
    width: 152%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50% ;
    transform: translateY(-100%);
}

.card .profile_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../Images/user4.jpg") no-repeat center;
    background-size: cover;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    z-index: 1;
}

.card .card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.card .card_content h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.card .card_content p{
    color: gray;
    font-size: 14px;
}

.lower{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #287ab9;
    width: 100%;
    transform: translateY(200%);
}

.lower ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.lower ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lower ul li:hover{
    cursor: pointer;
}

.lower ul li a{
    color: white;
    font-size: 18px;
    margin: 1px 15px;
}

