@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600&family=Inter&family=Poppins&family=Roboto&family=Roboto+Mono:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #060a28;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    color: white;
   
}
p{
    font-size: 20px;
}
h1{
    font-size: 56px;
}
.h2{
    /* font-size: 40px; */
}

/* navbar start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #262626;
    position: fixed;
    width: 100%;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-heading{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color:dodgerblue;
}
.menubar{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}
.present{
    color: blue;
}


/* navbar end */

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 25px 0;
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.hero-heading{
    font-weight: bold;
    font-size: 6vw;
    margin: -100px 0 40px;
}
.countdown{
    display: flex;
    transform: scale(2);
    margin-bottom: 25px;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.time h2{
    font-weight: 700;
    font-size: 2vw;
    line-height: 1;
    margin: 0 0 5px;

}
.button{
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
}
.text{
    margin-bottom: 10px;
    line-height: 25px;
}

/* about section */
.about-heading{
    text-align: center;
    font-size: 45px;
    padding-bottom: 30px;
}
.flex{
    display: flex;

}
.img{
    width: 42vw;
}
.text1{
    align-self: center;
    justify-content: center;
    text-align: justify;
    width: 42vw;
}
@media (max-width:1200px){
    .container{
        margin: 0 25px;
    }
}



/* about section end */

.form-designe{
    width: 50vw;
}
.form-control{
    padding: 10px 10px;
    margin-bottom: 20px;
}
.input{
    width: 50%;
}
.subject{
    width: 100%;
}
.flex1{
    display: flex;
}
.error {
    color: red;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
}
@media (max-width:600px){
    .try{
        margin: 0;
        width: auto !important;
    }
    
}
@media (max-width:600px){
    .navbar{
        display: block;
        /* line-height: 55px; */
    }
    .navul{
        display: block;
        line-height: 25px;
        margin-top: -170px;
        padding-bottom: 40px;
    }
    .hero-heading{
        font-size: 45px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 15px;
    }
    .time small{
        font-size: 10px;
    }
    p{
        font-size: 15px;
    }
    /* .try{
        margin: 0;
        width: auto;
    } */
    
}

@media(max-width:768px){
    .menubar{
        display: block;
    }
    .menubar.active .bar:nth-child(2){
        opacity: 0;
    }
    .menubar.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menubar.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;

    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 40px;
    }
}
@media (max-width:768px){
    .hero-heading{
        font-size: 64px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 15px;
    }
    .time small{
        font-size: 13px;
    }
    .form-designe{
        width: 100%;
        margin: 0 auto;
    }
    
}
@media (max-width:768px){
    .flex{
        display: block;
        text-align: center;
        margin: auto;
    }
    .try{
        margin: auto;
    }
    .text1{
        margin: auto;
        width: auto;
    }
}